.btn {
  padding: 7px 13px;
  margin-top: 10px;
  border-radius: 5px;
}

input[type=checkbox] {
  border-radius: 10px;
  margin-bottom: 15px;
  width: 20px;
}

.alert-info {
  animation: fadeOut 15s forwards;
  margin: 0;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.header {
  background-color: #BEE5BF;
  padding: 12px;
}
.header #logo {
  width: 35px;
}
.header a {
  font-size: 22px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  background-color: #6F5E53;
  color: white;
}
.footer .col {
  padding: 15px;
}
.footer .icon-col {
  padding: 0;
}
.footer .icon {
  filter: invert(1);
  padding: 15px 0;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer .link:hover {
  text-decoration: underline;
}
.footer .title {
  font-size: larger;
}

.log-in-form {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 5px black;
}
.log-in-form .asteriskField {
  display: none;
}
.log-in-form .btn-close {
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(-50%, 50%);
}
.log-in-form .btn {
  color: white;
  width: 100%;
}
.log-in-form .btn:hover {
  color: white;
}
.log-in-form .log-in-btn {
  color: black;
  background-color: #BEE5BF;
  padding: 7px 13px;
  margin-top: 10px;
}
.log-in-form .log-in-btn:hover {
  color: black;
}
.log-in-form .sign-up-btn {
  margin-top: 20px;
  background-color: #003E1F;
}
.log-in-form p {
  margin-top: 20px;
}
.log-in-form a {
  color: black;
}

.sign-up-form .asteriskField {
  display: none;
}
.sign-up-form .btn {
  color: black;
  background-color: #BEE5BF !important;
  width: 100%;
}
.sign-up-form .btn:hover {
  color: black;
}

.index {
  padding: 30px 0;
}
.index h1,
.index h2,
.index h3,
.index h4 {
  text-align: center;
}
.index h2 {
  margin-bottom: 70px;
}
.index h3 {
  margin-top: 70px;
}
.index #user-location-map {
  width: 100%;
  height: 500px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#sign-up-requirements {
  color: white;
  transition: color 1s ease;
}

#div_id_lat,
#div_id_lon,
#div_id_img1,
#div_id_img2 {
  width: 50%;
}

#find-me-btn {
  margin: 0 12px 40px 12px;
  width: calc(100% - 24px);
}

.box-container {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.compas {
  width: 200px;
  text-align: center;
}

@media (min-width: 640px) {
  .header .logo {
    flex: 0 0 auto;
    width: 70%;
    text-align: left;
  }
  .footer .icon {
    width: 50px;
  }
  .log-in-form,
  .sign-up-form {
    padding: 50px 100px;
    width: 50%;
  }
}
@media (max-width: 640px) {
  .header #logo {
    display: none;
  }
  .footer .icon {
    width: 40px;
  }
  .log-in-form,
  .sign-up-form {
    padding: 35px;
    width: 80%;
  }
}/*# sourceMappingURL=styles.css.map */