.btn {
  padding: 7px 13px;
  margin-top: 10px;
  border-radius: 5px;
}

input[type="checkbox"] {
  border-radius: 10px;
  margin-bottom: 15px;
  width: 20px;
}

.alert-info {
  animation: fadeOut 15s forwards;
  margin: 0;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.header {
  background-color: #bee5bf;
  padding: 12px;

  #logo {
    width: 35px;
  }

  a {
    font-size: 22px;
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.footer {
  background-color: #6f5e53;
  color: white;

  .col {
    padding: 15px;
  }

  .icon-col {
    padding: 0;
  }

  .icon {
    filter: invert(1);
    padding: 15px 0;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
  }

  .title {
    font-size: larger;
  }
}

.log-in-form {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 5px black;

  .asteriskField {
    display: none;
  }

  .btn-close {
    position: fixed;
    right: 0;
    top: 0;
    transform: translate(-50%, 50%);
  }

  .btn {
    color: white;
    width: 100%;
  }

  .btn:hover {
    color: white;
  }

  .log-in-btn {
    color: black;
    background-color: #bee5bf;
    padding: 7px 13px;
    margin-top: 10px;
  }

  .log-in-btn:hover {
    color: black;
  }

  .sign-up-btn {
    margin-top: 20px;
    background-color: #003e1f;
  }

  p {
    margin-top: 20px;
  }

  a {
    color: black;
  }
}

.sign-up-form {
  .asteriskField {
    display: none;
  }

  .btn {
    color: black;
    background-color: #bee5bf !important;
    width: 100%;
  }

  .btn:hover {
    color: black;
  }
}

.index {
  padding: 30px 0;

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }

  h2 {
    margin-bottom: 70px;
  }

  h3 {
    margin-top: 70px;
  }

  #user-location-map {
    width: 100%;
    height: 500px;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#sign-up-requirements {
  color: white;
  transition: color 1s ease;
}

#div_id_lat,
#div_id_lon,
#div_id_img1,
#div_id_img2 {
  width: 50%;
}

#find-me-btn {
  margin: 0 12px 40px 12px;
  width: calc(100% - 24px);
}

.box-container {
  padding: 10px;

  .row {
    padding: 20px;
    margin: 0;
    border-radius: 20px;
  }

  .col-1 {
    width: 225px;
  }

  .col-2 {
    width: calc(100% - 225px);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
  }
}

.compas {
  width: 200px;
  text-align: center;
}

#div_id_city {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #bee5bf;
}

.autocomplete-active {
  background-color: #003e1f !important;
  color: #ffffff;
}

@media (min-width: 640px) {
  .header {
    .logo {
      flex: 0 0 auto;
      width: 70%;
      text-align: left;
    }
  }

  .footer {
    .icon {
      width: 50px;
    }
  }

  .log-in-form,
  .sign-up-form {
    padding: 50px 100px;
    width: 50%;
  }
}

@media (max-width: 640px) {
  .header {
    #logo {
      display: none;
    }
  }

  .footer {
    .icon {
      width: 40px;
    }
  }

  .log-in-form,
  .sign-up-form {
    padding: 35px;
    width: 80%;
  }

  .box-container {
    .col-1 {
      margin: 0 auto;
    }

    .col-2 {
      width: 100%;
      background-image: none !important;
    }
  }
}