{% extends 'main.html' %}
{% load static %}
{% load templatetags %}

{% block content %}
<div class="container-fluid text-center header">
  <div class="row">
    {% if user %}
    <div class="col">
      <a href="{% url 'add_box' %}">Add box</a>
    </div>
    {% else %}
    <div class="col">
      <a class="log-in-link">Add box</a>
    </div>
    {% endif %}
  </div>
</div>

{% for box in boxes %}
<div class="container-lg box-container" style="background-image: url('{{ box.img1 }}');">
  <div class="row">
    <div class="col-6">
      <h1>{{ box.name }}</h1>
      <h2>
        {{ box.difficulty|stars }}
      </h2>
      <div class="compas">
        <h3>N</h3>
      </div>
      <canvas id="c" width="200" height="200"></canvas>
      <h2 data-lat="{{ box.lat }}" data-lon="{{ box.lon }}" class="position"></h2>
    </div>
    <div class="col-6">
      <h2>{{ box.description }}</h2>
    </div>
  </div>
</div>
{% endfor %}

<script src="{% static 'scripts/boxes.js' %}"></script>
{% endblock %}