{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load templatetags %}

{% block content %}
<div class="container-fluid text-center header">
  <div class="row">
    {% if user %}
    <div class="col">
      <a href="{% url 'add_box' %}">Add box</a>
    </div>
    {% else %}
    <div class="col">
      <a class="log-in-link">Add box</a>
    </div>
    {% endif %}
  </div>
</div>

<div class="form-group sign-up-form container-fluid">
  <p id="data-storage-boxes" data-city="{{ form_city }}" data-radius="{{ form_radius }}"></p>
  <form autocomplete="off" method="POST" action="">
    {% csrf_token %}
      {{ filter_form.city|as_crispy_field }}
      {{ filter_form.radius|as_crispy_field }}
      <div class="row">
        <div class="col">
          <button type="submit" class="btn">Filter</button>
        </div>
        <div class="col">
          <input type="button" value="Reset filters" class="btn" id="reset-filters"></input>
        </div>
      </div>
  </form>
</div>

{% for box in boxes %}
<a href="{% url 'box' id=box.id %}" class="box-a">
  <div class="container-lg box-container">
    <div class="row box-div" style="background-color: {{ box.img1|getDominantColor }}">
      <div class="col-1">
        <div class="compas">
          <h3>N</h3>
        </div>
        <canvas width="200" height="200"></canvas>
      </div>
      <div class="col-2" style="background-image: url('{{ box.img1 }}')">
        <h1>{{ box.name }}</h1>
        <h2 data-lat="{{ box.lat }}" data-lon="{{ box.lon }}" class="position"></h2>
        <h2>{{ box.difficulty|stars }}</h2>
        <h2>{{ box.user }}</h2>
      </div>
    </div>
  </div>
</a>
{% endfor %}

<ul class="pagination justify-content-center">
  {% if boxes.has_previous %}
  <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
  <li class="page-item"><a class="page-link" href="?page={{ boxes.previous_page_number }}">Previous</a></li>
  {% endif %}
  {% for i in page_numbers %}
  {% if boxes.number == i %}
  <li class="page-item"><a class="page-link" href="?page={{ i }}" style="background-color: #bee5bf;">{{ i }}</a></li>
  {% elif i == '...' %}
  <li class="page-item"><a class="page-link">{{ i }}</a></li>
  {% else %}
  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
  {% endfor %}
  {% if boxes.has_next %}
  <li class="page-item"><a class="page-link" href="?page={{ boxes.next_page_number }}">Next</a>
  </li>
  <li class="page-item"><a class="page-link" href="?page={{ boxes.paginator.num_pages }}">Last
      &raquo</a>
  </li>
  {% endif %}
</ul>

<script src="{% static 'scripts/boxes.js' %}"></script>
{% endblock %}